@font-face {
  font-family: 'Recursive';
  src: url('../public/Recursive-SemiBold-CASL=0-CRSV=0-MONO=0-slnt=0.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/OpenSans-Regular.ttf') format('truetype');
}
