// @import "../node_modules/normalize.css/normalize.css";
@import 'ColorPalette.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'BootstrapCustomStyling.scss';
@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';
@import 'ThemeToggler.scss';
@import 'ReactTags.scss';
@import 'Logo.scss';
@import 'Fonts.scss';
@import 'Navbar.scss';
@import 'Footer.scss';
@import 'ProjectEntryThumbnail.scss';
@import 'ProjectEntry.scss';

body {
  font-family: 'Open Sans', 'SF Pro Icons', 'Helvetica', 'Arial', sans-serif;
  font-size: larger;
  background-color: $page-color;
}

h1,
h2 {
  font-family: 'Recursive', 'Noto serif', 'SF Pro Icons', 'Helvetica', 'Arial',
    sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
  text-decoration-thickness: 0.1em;
}

hr {
  background-color: $primary;
  height: 0.05em;
  border-radius: 1em;
}

.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 0.5em;
}

article {
  padding-top: 1em;
  padding-bottom: 1em;
}

.center-spinner {
  text-align: center;
}
.thumbnail-carousel-nav {
  padding: 0.5em;
  .btn {
    border-radius: 0;
    border: none;
    font-size: xx-large;
    height: 100%;
  }
  button:focus {
    outline: none;
  }
}

.thumbnail-carousel-nav-item {
  background-color: #1e1e24;
  border: none;
  padding: 0;
  img {
    object-fit: contain;
    width: 5em;
    height: 5em;
    filter: brightness(70%);
  }
}

.thumbnail-carousel-nav-item-active {
  img {
    filter: brightness(100%);
    outline: 0.3em solid $primary;
    outline-offset: -0.3em;
  }
}

.article-nav-container {
  min-height: 80vh;
}

input.form-control {
  border-radius: 3em;
}

body.dark-theme {
  color: $page-color;
  background-color: $black-color;
  a {
    // color: #9292fa;
    color: #ff73dc;
  }
  .navbar-items {
    li {
      a {
      }
    }

    li:hover {
      a {
        box-shadow: 5px 5px 20px -10px $primary;
      }
    }

    .navbar-item-active {
      a {
        box-shadow: 5px 5px 20px -10px $primary;
      }
    }
  }
  footer {
    a {
      color: white;
    }
  }

  input,
  select,
  textarea {
    background-color: colorValueMultiplier($black-color, false, 1);
    color: $page-color;
    border: none;
  }
  textarea:focus {
    background-color: colorValueMultiplier($black-color, false, 1);
    color: $page-color;
  }
  input:focus {
    background-color: colorValueMultiplier($black-color, false, 1);
    color: $page-color;
  }

  .theme-toggler {
    box-shadow: 5px 5px 25px 0 colorValueMultiplier($black-color, true, 1);
    background-color: colorValueMultiplier($black-color, false, 1);
    color: $page-color;
  }

  .theme-toggler:hover {
    background-color: colorValueMultiplier($black-color, false, 2);
    box-shadow: 5px 5px 50px -10px colorValueMultiplier($black-color, true, 1);
  }

  .project-entry {
    background-color: colorValueMultiplier($black-color, false, 1);
    box-shadow: 5px 5px 25px 0 colorValueMultiplier($black-color, true, 1);
    color: $page-color;
  }
  .project-entry:hover {
    background-color: colorValueMultiplier($black-color, false, 2);
    box-shadow: 5px 5px 50px -10px colorValueMultiplier($black-color, true, 1);
    img {
      filter: brightness(105%);
    }
  }

  .project-entry-thumbnail-text-panel-modal {
    background-color: $black-color;
  }

  button.close {
    color: $page-color;
  }

  .nav {
    background-color: $black-color;
    a {
      color: $page-color;
    }
    .active {
      background-color: $primary;
      color: $page-color;
      border: none;
      box-shadow: 5px 5px 20px -10px $primary;
    }
  }
  .nav-tabs {
    border: none;
  }
  .nav-link:hover {
    border: none;
    background-color: $primary;

    box-shadow: 5px 5px 20px -10px $primary;
  }
  .tab-content {
    background-color: $black-color;
    border: none;
  }
  .card {
    background-color: colorValueMultiplier($black-color, true, 1);
  }
  .list-group-item {
    background-color: $black-color;
  }

  .react-loading-skeleton {
    background-color: colorValueMultiplier($black-color, false, 1);
    background-image: linear-gradient(
      90deg,
      colorValueMultiplier($black-color, false, 1),
      colorValueMultiplier($black-color, false, 2),
      colorValueMultiplier($black-color, false, 1)
    );
  }
}
