// @import "../node_modules/normalize.css/normalize.css";
@import './BootstrapCustomVariables.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import './BootstrapCustomStyling.scss';
@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';
@import './ThemeToggler.scss';
@import './ReactTags.scss';
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Recursive:wght@600&display=swap');

@font-face {
  font-family: 'Recursive';
  src: url('../public/Recursive-SemiBold-CASL=0-CRSV=0-MONO=0-slnt=0.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/OpenSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', 'SF Pro Icons', 'Helvetica', 'Arial', sans-serif;
  font-size: larger;
  background-color: $page-color;
  // padding: 20px 20px 60px;
  // max-width: 680px;
  // margin: 0 auto;
}

h1,
h2 {
  font-family: 'Recursive', 'Noto serif', 'SF Pro Icons', 'Helvetica', 'Arial',
    sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
  text-decoration-thickness: 0.1em;
}

hr {
  background-color: $primary;
  height: 0.05em;
  border-radius: 1em;
}

.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 0.5em;
}

//   p{
//     line-height: 1.2em;

//   }

//  nav{
//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//   }
//  }

//   .navbar-brand:hover{
//     background-color: $primary-color;
//     border-radius: 5em;
//     color: white;
//   }

.navbar-brand-image {
  width: 4em;
}

.navbar-brand-text {
  font-family: 'Recursive', 'Noto serif', 'SF Pro Icons', 'Helvetica', 'Arial',
    sans-serif;
  vertical-align: middle;
  font-size: 1.5em;
  padding-left: 0.25em;
  margin-bottom: 1em;
}

//   .navbar-items{
//     float: right;
//   }

//   .navbar-item {
//     display: block;
//     text-align: center;
//     text-decoration: none;
//   }

/* Change the link color to #111 (black) on hover */
// li a:hover {
//   background-color: $primary-color;
//   border-radius: 1em;
//   color: white;

// }

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}

.navbar-items {
  margin-bottom: 0px;
  list-style: none;

  vertical-align: middle;
  li {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    a {
      border-radius: 3em;
      padding: 3px 20px;
      transition: all 0.3s ease 0s;
    }
  }

  li:hover {
    a {
      background-color: $primary;
      color: white;
      text-decoration: none;
      box-shadow: 5px 5px 20px -10px $primary;
    }
  }

  .navbar-item-active {
    a {
      background-color: $primary;
      color: white;
      text-decoration: none;
      box-shadow: 5px 5px 20px -10px $primary;
    }
  }
}

.navbar-brand {
  cursor: pointer;
  margin-right: auto;
  padding-right: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.3s ease 0s;
  border-radius: 3em;
}

.navbar-brand:hover {
  background-color: $primary;

  box-shadow: 5px 5px 20px -10px $primary;
  color: white;
}

nav {
  order: 1;
  vertical-align: middle;
}

article {
  padding-top: 1em;
  padding-bottom: 1em;
}

.project-entry-logo {
  max-width: 2em;
}

.project-entry-thumbnail-image {
  object-fit: contain;
  height: 15em;
  width: 100%;
}

.project-entry-thumbnail-image-second {
  object-fit: contain;
  display: none;
  width: 100%;
  opacity: 0;
}

.project-entry-thumbnail-gif {
  width: 100%;
}

.project-entry-screenshot {
  object-fit: contain;
  width: 100%;
}
.project-entry-anchor:hover {
  text-decoration: none;
}
.project-entry {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $page-color-lighter-1;
  border-radius: 2em;
  transition: all 0.3s ease 0s;
  font-size: medium;
  padding: 1.5em;
  box-shadow: 5px 5px 25px 0 $page-color-darker-4;
  .project-entry-text {
    padding-top: 1.5em;
  }
  img {
    transition: all 0.3s ease 0s;
  }
  h2 {
    font-size: x-large;
  }
}

.project-entry:hover {
  background-color: $page-color-lighter-2;
  box-shadow: 5px 5px 50px -10px $page-color-darker-4;
  transform: scale(1.02);
  img {
    filter: brightness(95%);
  }
  .project-entry-thumbnail-image-first {
    opacity: 0;
    display: none;
  }

  .project-entry-thumbnail-image-second {
    object-fit: contain;
    display: block;
    opacity: 1;
    height: 15em;
  }
}

.project-entry-modal {
  padding: 0;
  border: none;
  font-size: 0.75em;
  ul {
    margin-left: 0em;
  }

  .row {
    margin: 0;
  }
}
.project-entry-thumbnail-carousel-panel-modal {
  background-color: #1e1e24;
  padding: 0;
}

.project-entry-thumbnail-carousel-panel-no-modal {
  background-color: #1e1e24;
  padding: 0;
}

.project-entry-thumbnail-text-panel-modal {
  padding: 0;
}

.project-entry-description {
  margin-top: 1em;
}

.thumbnail-carousel-nav {
  padding: 0.5em;
  .btn {
    border-radius: 0;
    border: none;
    font-size: x-large;
    height: 3em;
  }
  button:focus {
    outline: none;
  }
}

.thumbnail-carousel-nav-item {
  background-color: #1e1e24;
  border: none;
  padding: 0;
  img {
    object-fit: contain;
    width: 5em;
    height: 5em;
    filter: brightness(70%);
  }
}

.thumbnail-carousel-nav-item-active {
  img {
    filter: brightness(100%);
    outline: 0.3em solid $primary;
    outline-offset: -0.3em;
  }
}

.article-nav-container {
  min-height: 80vh;
}

footer {
  background-color: $primary;
  color: white;
  box-shadow: 0 100vh 0 100vh $primary;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    li {
      margin: 1em;
      a {
        color: white;
      }
    }
  }
  text-align: center;
}
input.form-control {
  border-radius: 3em;
}

body.dark-theme {
  color: $page-color;
  background-color: $black-color;
  a {
    // color: #9292fa;
    color: #ff73dc;
  }
  .navbar-items {
    li {
      a {
      }
    }

    li:hover {
      a {
        box-shadow: 5px 5px 20px -10px $primary;
      }
    }

    .navbar-item-active {
      a {
        box-shadow: 5px 5px 20px -10px $primary;
      }
    }
  }
  footer {
    a {
      color: white;
    }
  }

  input {
    background-color: $black-color-lighter-1;
    color: $page-color;
  }
  select {
    background-color: $black-color-lighter-1;
    color: $page-color;
  }
  textarea {
    background-color: $black-color-lighter-1;
    border: none;
    color: $page-color;
  }
  textarea:focus {
    background-color: $black-color-lighter-1;
    color: $page-color;
  }
  input:focus {
    background-color: $black-color-lighter-1;
    color: $page-color;
  }
  input {
    border: none;
  }

  .theme-toggler {
    box-shadow: 5px 5px 25px 0 $black-color-darker-1;
    background-color: $black-color-lighter-1;
    color: $page-color;
  }

  .theme-toggler:hover {
    background-color: $black-color-lighter-2;
    box-shadow: 5px 5px 50px -10px $black-color-darker-1;
  }

  .project-entry {
    background-color: $black-color-lighter-1;
    box-shadow: 5px 5px 25px 0 $black-color-darker-1;
    color: $page-color;
  }
  .project-entry:hover {
    background-color: $black-color-lighter-2;
    box-shadow: 5px 5px 50px -10px $black-color-darker-1;
    img {
      filter: brightness(105%);
    }
  }

  .project-entry-thumbnail-text-panel-modal {
    background-color: $black-color;
  }

  button.close {
    color: $page-color;
  }

  .nav {
    background-color: $black-color;
    a {
      color: $page-color;
    }
    .active {
      background-color: $primary;
      color: $page-color;
      border: none;
      box-shadow: 5px 5px 20px -10px $primary;
    }
  }
  .nav-tabs {
    border: none;
  }
  .nav-link:hover {
    border: none;
    background-color: $primary;

    box-shadow: 5px 5px 20px -10px $primary;
  }
  .tab-content {
    background-color: $black-color;
    border: none;
  }
  .card {
    background-color: $black-color-darker-1;
  }
  .list-group-item {
    background-color: $black-color;
  }
}
