.theme-toggler {
  background-color: colorValueMultiplier($page-color, false, 1);
  color: $black-color;
  transition: 0.3s;
  border-radius: 50%;
  padding: 0.3em 0.55em;
  border: none;
  box-shadow: 5px 5px 25px 0 colorValueMultiplier($page-color, true, 4);
}

.theme-toggler:hover {
  background-color: colorValueMultiplier($page-color, false, 2);
  box-shadow: 5px 5px 50px -10px colorValueMultiplier($page-color, true, 4);
  color: $black-color;
}
